django==2.2.10
djangorestframework==3.9.2
# patched to add get-or-create semantics for nested objects
https://github.com/claytondaley/drf-writable-nested/zipball/188691e59596b4435e7fc05fc55444ccd60e1226
